$primaryTxtColr: #757575;
$secondTxtColr: #212121;
$accentColr: #2196f3;
$primaryWhiteColr: #ffffff;
$secondWhiteColr: #f5f4fa;
$footerBGColr: #2f303a;
$socLinkCardColr: #afb1b8;
$BdrColr: #ececec;
$projectBdrColr: #eeeeee;
$sectClientsBdrColr: #afb1b8;
$footerBdrColr: rgba(255, 255, 255, 0.1);
$backdropBGColr: rgba(0, 0, 0, 0.2);
$inputBdrColr: rgba(33, 33, 33, 0.2);
$formIconColr: #212121;
$timeFunction: cubic-bezier(0.4, 0, 0.2, 1);
