// Checkbox
.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  // outline: 1px solid navy;
}
.checkbox-icon {
  display: block;
  margin-right: 8px;
  width: 15px;
  height: 15px;

  border: 0.75px solid $secondTxtColr;
  border-radius: 2px;

  // background-color: tomato;
}
.checkbox:checked + .checkbox-icon {
  border-color: $accentColr;
  background-color: $accentColr;
  background-image: url(../images/check-icon.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox:focus + .checkbox-icon {
  outline: 1px solid $accentColr;
}

.check-text {
  color: $primaryTxtColr;
  // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  & a {
    color: $accentColr;
  }
}
