// Кнопки фильтра

.keys {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  @media screen and (max-width: 767px) {
    margin-bottom: 25px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
  & .item {
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }

  & .item:not(:last-child) {
    margin-right: 8px;
  }
}

.filter {
  --hf: 38px;
  height: var(--hf);
  line-height: var(--hf);
  padding: 0px 22px;

  border: none;
  outline: none;
  cursor: pointer;
  color: $secondTxtColr;
  background-color: $secondWhiteColr;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.06em;

  transition: color 250ms $timeFunction, background-color 250ms $timeFunction,
    box-shadow 250ms $timeFunction;

  &:hover,
  &:focus {
    color: $primaryWhiteColr;
    background-color: $accentColr;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  }

  &:active {
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
}
