@import './address';
@import './join';
@import './subscribe';

footer {
  background-color: $footerBGColr;
}

.under {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    align-items: center;
  }
}

.container .under {
  padding: 60px 0px 60px;
  text-align: center;
  border-bottom: 1px solid $footerBdrColr;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

// Copyright (disabled)
.copyright {
  display: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 18px;
  padding-bottom: 20px;

  color: $primaryTxtColr;

  font-weight: 400;
  font-size: 12px;
  text-align: center;
  line-height: 2;
}
