footer {
  background-color: $footerBGColr;
}
@media screen and (min-width: 768px) {
  .under {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // justify-content: space-between;
    //   align-items: baseline;
  }
}

.container .under {
  padding: 60px 0px 60px;
  text-align: center;
  border-bottom: 1px solid $footerBdrColr;
}

.address {
  font-style: inherit;
}

.location {
  display: block;
  margin-top: 20px;
  color: $primaryWhiteColr;
}

%addresslink {
  display: block;
  margin-top: 9px;
  padding: 0px;

  color: $primaryTxtColr;
  text-decoration: none;

  transition: color 250ms $timeFunction;
}
.address .mail {
  @extend %addresslink;
  &:hover,
  &:focus {
    color: $accentColr;
  }
}
.address .tel {
  @extend %addresslink;
  &:hover,
  &:focus {
    color: $accentColr;
  }
}

.coordinates {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: 50%;
    padding-left: 60px;
    padding-right: 85px;
  }
  background-color: aquamarine;
}

.join {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: 50%;
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 80px;
    padding-right: 73px;
  }
  background-color: aquamarine;
}
.subscribe {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: 100%;
    max-width: 450px;
    margin-top: 60px;
  }
  //   display: flex;
  //   align-items: flex-end;
  //   width: 570px;
  background-color: aquamarine;
}

.call {
  display: block;
  margin-bottom: 20px;
  color: $primaryWhiteColr;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.join .list.social {
  display: flex;
  justify-content: center;

  & > .item:not(:last-child) {
    margin-right: 10px;
  }
}

// Подпишитесь на рассылку
.subscribe-field {
  display: block;
  background-color: yellowgreen;
  // margin-right: 12px;
  padding: 15px 16px;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;

  // background-color: $footerBGColr;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: $primaryTxtColr;

  &:focus,
  &:active {
    outline: transparent;
    border: 1px solid $accentColr;
  }
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
// Copyright
.copyright {
  display: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 18px;
  padding-bottom: 20px;

  color: $primaryTxtColr;

  font-weight: 400;
  font-size: 12px;
  text-align: center;
  line-height: 2;
}
