// Секция "Наша команда"
.section.team {
  background-color: $secondWhiteColr;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

// Позиционирование в "Наша команда"
.list.members {
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  & > .item {
    display: block;
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 90px) / 4);
    }
  }
  & > .item:not(:last-child) {
    @media screen and (max-width: 1199px) {
      margin-bottom: 30px;
    }
  }
  & > .item:nth-child(2n + 1) {
    @media screen and (min-width: 768px) {
      margin-right: 30px;
    }
  }
  & > .item:not(:last-child) {
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }
  & > .item:nth-child(n + 3) {
    @media screen and (min-width: 768px) {
      margin-bottom: 0px;
    }
  }
}

// Карточки нашей команды
.card {
  background-color: rgb(83, 148, 148);
  // background-color: $primaryWhiteColr;

  text-align: center;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  & > img {
    display: block;
  }
}

.card-title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: $secondTxtColr;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.card-role {
  margin-top: 0px;
  color: $primaryTxtColr;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.card .list.social {
  display: flex;
  justify-content: center;
  padding: 0px 32px 24px;

  & > .item:not(:last-child) {
    margin-right: 10px;
  }
}
