// Секция "Чем мы занимаемся"
.additional {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.list.directions {
  display: flex;
  & img {
    display: block;
  }
}
.directions {
  & > .item {
    position: relative;
    display: block;
    flex-basis: calc((100% - 60px) / 3);
  }
  & > .item:not(:last-child) {
    margin-right: 30px;
  }

  & .section-subtitle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    padding-top: 27px;
    padding-bottom: 27px;

    color: $primaryWhiteColr;
    background: rgba(47, 48, 58, 0.8);

    text-align: center;
  }
}
